section{
    border: 1px solid red;
    padding: 10px;
    border-radius:14px;
}

/* p{
    border: 1px solid rgb(210, 84, 248);
    border-radius:8px;
    padding: 5px;
    text-align: center;
} */

li{
    list-style: none;
    border: 1px solid black;
    
}